@model IEnumerable<OrcunBlog.Models.Hakkinda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>HAKKINDA SAYFASI </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HakkindaBaslik)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HakkindaBaslik)
            </td>

            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.HakkindaID }) |
                @Html.ActionLink("Detay", "Details", new { id = item.HakkindaID }) |

            </td>
        </tr>
    }

</table>
