@model IEnumerable<OrcunBlog.Models.Uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    @Html.ActionLink("Yeni Üye", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UyeAdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeSifre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UyeAdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeSifre)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.UyeID }) |
            @Html.ActionLink("Detay", "Details", new { id=item.UyeID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.UyeID })
        </td>
    </tr>
}

</table>
